/out/
tynk_dialog.iml
/.idea/
/target/
compiler.xml
jarRepositories.xml
misc.xml
vcs.xml
.DS_Store
src/main/javadoc/allclasses-index.html
src/main/javadoc/allpackages-index.html
src/main/javadoc/best/tigers/tynk_dialog/game/Blip.html
src/main/javadoc/best/tigers/tynk_dialog/game/BoxStyle.html
src/main/javadoc/best/tigers/tynk_dialog/game/Character.html
src/main/javadoc/best/tigers/tynk_dialog/game/Dialog.html
src/main/javadoc/best/tigers/tynk_dialog/game/DialogPage.html
src/main/javadoc/best/tigers/tynk_dialog/game/FormattedText.html
src/main/javadoc/best/tigers/tynk_dialog/game/package-summary.html
src/main/javadoc/best/tigers/tynk_dialog/game/package-tree.html
src/main/javadoc/best/tigers/tynk_dialog/Main.html
src/main/javadoc/best/tigers/tynk_dialog/package-summary.html
src/main/javadoc/best/tigers/tynk_dialog/package-tree.html
src/main/javadoc/copy.svg
src/main/javadoc/element-list
src/main/javadoc/help-doc.html
src/main/javadoc/index-files/index-1.html
src/main/javadoc/index-files/index-2.html
src/main/javadoc/index-files/index-3.html
src/main/javadoc/index-files/index-4.html
src/main/javadoc/index-files/index-5.html
src/main/javadoc/index-files/index-6.html
src/main/javadoc/index-files/index-7.html
src/main/javadoc/index-files/index-8.html
src/main/javadoc/index.html
src/main/javadoc/jquery-ui.overrides.css
src/main/javadoc/legal/ADDITIONAL_LICENSE_INFO
src/main/javadoc/legal/ASSEMBLY_EXCEPTION
src/main/javadoc/legal/jquery.md
src/main/javadoc/legal/jqueryUI.md
src/main/javadoc/legal/LICENSE
src/main/javadoc/member-search-index.js
src/main/javadoc/module-search-index.js
src/main/javadoc/overview-summary.html
src/main/javadoc/overview-tree.html
src/main/javadoc/package-search-index.js
src/main/javadoc/resources/glass.png
src/main/javadoc/resources/x.png
src/main/javadoc/script-dir/images/ui-bg_glass_55_fbf9ee_1x400.png
src/main/javadoc/script-dir/images/ui-bg_glass_65_dadada_1x400.png
src/main/javadoc/script-dir/images/ui-bg_glass_75_dadada_1x400.png
src/main/javadoc/script-dir/images/ui-bg_glass_75_e6e6e6_1x400.png
src/main/javadoc/script-dir/images/ui-bg_glass_95_fef1ec_1x400.png
src/main/javadoc/script-dir/images/ui-bg_highlight-soft_75_cccccc_1x100.png
src/main/javadoc/script-dir/images/ui-icons_222222_256x240.png
src/main/javadoc/script-dir/images/ui-icons_2e83ff_256x240.png
src/main/javadoc/script-dir/images/ui-icons_454545_256x240.png
src/main/javadoc/script-dir/images/ui-icons_888888_256x240.png
src/main/javadoc/script-dir/images/ui-icons_cd0a0a_256x240.png
src/main/javadoc/script-dir/jquery-3.5.1.min.js
src/main/javadoc/script-dir/jquery-ui.min.css
src/main/javadoc/script-dir/jquery-ui.min.js
src/main/javadoc/script-dir/jquery-ui.structure.min.css
src/main/javadoc/script.js
src/main/javadoc/search.js
src/main/javadoc/stylesheet.css
src/main/javadoc/tag-search-index.js
src/main/javadoc/type-search-index.js
